<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img [src]="img" width="450px" height="290px">
</div>
<table class="table">
  <tr class='encabezado'>
    <th>Animal</th>
    <th>Nombre</th>
    <th>Edad</th>
    <th>Raza</th>
  </tr>
  <tr class='contenido'>
    <td>Gato</td>
    <td>{{ gato.nombre }}</td>
    <td>{{ gato.edad }}</td>
    <td>{{ gato.raza }}</td>
  </tr>
  <tr class='contenido'>
    <td>Perro</td>
    <td>{{ perro.nombre }}</td>
    <td>{{ perro.edad }}</td>
    <td>{{ perro.raza }}</td>
  </tr>
</table>
<div class="span">
<span>{{ gato.maullar(this.gato.nombre) }}</span><br/>
<span>{{ perro.ladrar(this.perro.nombre) }}</span><br/>
<span>{{ gato.crecerPelo() }}</span><br/>
<span>{{ perro.crecerPelo() }}</span><br/>
<span>{{ derecha }}</span><br/>
<span>{{ izquierda }}</span><br/>
<span>{{ this.gato.trepar.treparArbol() }}</span><br/>
<span>{{ this.perro.trepar.treparArbol() }}</span><br/>
</div>